:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
}

h2 {
    text-align: center;
    clear: both;
}

.no-js .Tab:not(:target) {
    display: none;
}

.Header {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    color: #fff;
    text-align: center;
}

.Header > * {
    position: relative;
    z-index: 1;
}

.Header__bg {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: #333;
    background-image: url('/media/img/video-placeholder-mobile.jpg');
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 40em){
    :not(.no-js) .Header__bg {
        display: block;
        background-image: none;
        overflow: hidden;
        pointer-events: none;
        z-index: -1;
    }
    :not(.no-js) .Header__bg:after{
        content: '';
        background: rgba(0,0,0,.3);
        width: 100%;
        display: block;
        position: relative;
        padding: 50% 0 0 0;
        margin: 0;
    }

    :not(.no-js) .Header__bg iframe{
        display: block;
        position: absolute;
        top: 0%;
        width: 100vw;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: -2;
    }
}

.Section {
    max-width: 40rem;
    margin: 0 auto;
}

.ImageGrid img{
    display: block;
    float: left;
    width: 48%;
    margin: 1%;
}

