<header class="Header js-Header">
    <div class="Header__bg js-Header__bg">
        <iframe 
            data-src="https://player.vimeo.com/video/63729905?title=0&portrait=0&speed=0&muted=1&byline=0&autoplay=true&background=true&loop=true" 
            width="640"
            height="360"
            frameborder="0"
        ></iframe>
    </div>
    <img src="/media/img/gf-logo.png" alt="getfeedback">
    <h1>
        #this-vs-that
    </h1>
    <p>
        getfeedbackeats
    </p>
</header>