<section class="Section">
    <h2>Sometimes we work. Always we eat.</h2>
    <p>What shall we feast on this week? Inspiration from the <a href="#">eater_sf</a> Instagram</p>
    <div class="ImageGrid">
        <img src="https://baconmockup.com/200/200" alt="bacon">
        <img src="https://baconmockup.com/201/201" alt="bacon">
        <img src="https://baconmockup.com/202/202" alt="bacon">
        <img src="https://baconmockup.com/200/203" alt="bacon">
        <img src="https://baconmockup.com/201/204" alt="bacon">
        <img src="https://baconmockup.com/202/205" alt="bacon">
    </div>
</section>