<div class="Section">
    <h2>And the winner is...</h2>
    <ol role="tablist">
        <li><a class="Tab__control js-Tab__control" role="tab" href="#round-1" id="tab1">Round 1</a></li>
        <li><a class="Tab__control js-Tab__control" role="tab" href="#round-2" id="tab2">Round 2</a></li>
        <li><a class="Tab__control js-Tab__control" role="tab" href="#round-3" id="tab3">Round 3</a></li>
    </ol>

    <section class="Tab" id="round-1" role="tabpanel" aria-labelledby="tab1">
        <div class="Winnner__wrapper">
            <h3 class="Winner__title">Jersey <span>Vs</span> Slice House</h3>
            <p class="Winner__category">Pepperoni Pizza</p>
            <img class="Winner" src="/media/img/slice-winner.png" alt="Winner: Slice House">
        </div>
    </section>

    <section class="Tab" id="round-2" role="tabpanel" aria-labelledby="tab2">
        <div class="Winnner__wrapper"> 
            <h3>Jersey <span>Vs</span> Merrigan</h3>
            <p>Meatball Subs</p>
            <img src="/media/img/jersey-winner.png" alt="Winner: Jersey">
        </div>
    </section>

    <section class="Tab" id="round-3" role="tabpanel" aria-labelledby="tab3">
        <div class="Winnner__wrapper">
            <h3 class="Winner__title">Popsons <span>Vs</span> In-N-Out</h3>
            <p class="Winner__category">CheeseBurgers</p>
            <img class="Winner" src="/media/img/popsons-winner.png" alt="Winner: Popsons">
        </div>
    </section>
</div>